﻿@model IEnumerable<SDPRazorPages.Models.Student>

@{
    ViewData["Title"] = "Index";
    var result = TempData["UploadResult"] as string;
    result = String.IsNullOrEmpty(result) ? "" : result;
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <h2>Panel zarządzania bazą</h2>
    <br/>
    <label>Pobieranie bazy:</label>
    <a asp-action="DumpDatabase">Pobierz bazę</a>
    <br/>
    <h2>Wczytywanie bazy</h2>
    <form class="db-uploader" asp-action="UploadDatabase" enctype="multipart/form-data" method="post">
        <input type="file" name="file" accept=".json" />
        <button type="submit">Załaduj bazę</button>
    </form>
</div>

@if (!String.IsNullOrEmpty(result))
{
<script>
    window.onload = () => { alert("@result"); }; 
</script>
}
